
body {
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    font-family: "Inter";
    display: grid;
    place-content: center;
}

main {
    background-color: rgb(253, 251, 238);
    height: auto;
    max-width: 800px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
.die-container{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    place-items: center;

}

.die{
    width: 80px;
    height: 80px;
    margin-top: 25px;
    border:none;
    background: #FFFFFF;
    color: #2B283A;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    cursor: pointer;

    position: relative;
    
}

.die-dot{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    
    /* Dots positioning */
    position: absolute;
}

.held{
    background-color: #59E391;
}
.roll-button {
    margin-top: 20px;
    background-color: #5035FF;   
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: larger;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

}

.roll-button:hover{
    background-color: #5035ffd0;   

}

.roll-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.mode-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mode-container > button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: none;
    color: rgb(158, 158, 158);
    font-size: 20px;
}

.mode-container > button:hover {
    color: black;
    font-weight: bolder;
}

.result-container{
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container label {
    text-align: left;
}

.input-container input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.form-container button {
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
    background-color: #5035FF !important;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 550px) {
    main{
        height: auto;
    }
    .die{
        width: 60px;
        height: 60px
    }

    .die-dot{
        width: 10px;
        height: 10px;
    }

}